.cell {
    height: 15px;
    width: 15px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.living {
    background-color: black
}

.dead {
    background-color: white
}