
/* imported to Controls.js
used as a wrapper for all the controls/buttons */
.controls-wrapper {
    display: flex;
    margin: 50px auto;
    padding: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.progress-button {
    max-width: 140px;
}